<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'All Softwares', softwares_path %></li>
  <li class="active"><%= link_to 'Installed Softwares', instances_path %></li>
</ul>

<h3> Final Softwares Instances </h3>

<table class ="table">
  <thead>
    <tr>
      <th>Instance Name</th>
      <th>Server</th>
      <th>Software</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fSoftwareInsts.each do |f_software_inst| %>
      <% server = Server.find(f_software_inst.server_id) %>
      <% soft = FSoftware.find(f_software_inst.f_software_id) %>
      <tr>
        <td><%= f_software_inst.f_software_inst_name %></td>
        <td><%= link_to server.server_name, server %></td>
        <td><%= link_to soft.f_software_name, soft %></td>
        <td><%= link_to 'Show', f_software_inst, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Edit', edit_f_software_path(f_software_inst), class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Destroy', f_software_inst, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3> Intermediate Softwares Instances</h3>

<table class ="table">
  <thead>
    <tr>
      <th>Instance Name</th>
      <th>Server</th>
      <th>Software</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @iSoftwareInsts.each do |i_software_inst| %>
      <% server = Server.find(i_software_inst.server_id) %>
      <% soft = ISoftware.find(i_software_inst.i_software_id) %>
      <tr>
        <td><%= i_software_inst.i_software_inst_name %></td>
        <td><%= link_to server.server_name, server %></td>
        <td><%= link_to soft.i_software_name, soft %></td>
        <td><%= link_to 'Show', i_software_inst, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Edit', edit_f_software_path(i_software_inst), class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Destroy', i_software_inst, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3> Database Instances</h3>

<table class ="table">
  <thead>
    <tr>
      <th>Instance Name</th>
      <th>Server</th>
      <th>Software</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dbInsts.each do |db_inst| %>
      <% server = Server.find(db_inst.server_id) %>
      <% soft = Db.find(db_inst.db_id) %>
      <tr>
        <td><%= db_inst.db_inst_name %></td>
        <td><%= link_to server.server_name, server %></td>
        <td><%= link_to soft.db_name, soft %></td>
        <td><%= link_to 'Show', db_inst, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Edit', edit_f_software_path(db_inst), class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Destroy', db_inst, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_f_software_inst_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Instantiate Final Software
<% end %>

<%= link_to new_i_software_inst_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Instantiate Intermediate Software
<% end %>

<%= link_to new_db_inst_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Instantiate Database
<% end %>