<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, autofocus: true  %>
  </div>

  <div class="form-group field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>

  <div class="form-group field">
    <%= f.label :email %> <br>
    <%= f.email_field :email %>
  </div>

  <div class="form-group field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="form-group field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="form-group field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="form-group field">
    <%= f.label 'Actual Role: ' %>
    <%  role = Role.find(current_user.role_id) %>
    <%= role.name %>
  </div>

  <% if role.name == 'Admin' %>
    <div class="form-group field">
      <%= f.label :roles, 'Edit User Role' %><br>
      <%  roles_array = Role.all.map { |s| [s.name, s.id] } %>
      <%= f.select(:role_id, options_for_select(roles_array)) %>
    </div>
  <% end %>

  <div class="form-group actions">
    <%= f.submit "Update", class: 'btn btn-lg btn-success' %>
  </div>
<% end %>

<%= link_to "Back", :back, class: 'btn btn-default' %>
