<%= form_for(@f_software_inst) do |f| %>
  <% if @f_software_inst.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@f_software_inst.errors.count, "error") %> prohibited this f_software_inst from being saved:</h2>

      <ul>
      <% @f_software_inst.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= f.label :f_software_inst_name, 'Instance Name' %><br>
    <%= f.text_field :f_software_inst_name %>
  </div>

  <div class="form-group field">
    <%= f.label :server_id, 'Instance Server' %><br>
    <% servers_array = Server.all.map { |s| [s.server_name, s.id] } %>
    <%= f.select(:server_id, options_for_select(servers_array)) %>
  </div>

  <div class="form-group field">
    <%= f.label :f_software_id, 'Final Software' %><br>
    <% softwares_array = FSoftware.all.map { |s| [s.f_software_name, s.id] } %>
    <%= f.select(:f_software_id, options_for_select(softwares_array)) %>
  </div>

  <div class="form-group actions">
    <%= f.submit "Instantiate Software", class: 'btn btn-primary' %>
  </div>

<% end %>
