<h1>Listing f_software_insts</h1>

<table>
  <thead>
    <tr>
      <th>F software inst name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @f_software_insts.each do |f_software_inst| %>
      <tr>
        <td><%= f_software_inst.f_software_inst_name %></td>
        <td><%= link_to 'Show', f_software_inst %></td>
        <td><%= link_to 'Edit', edit_f_software_inst_path(f_software_inst) %></td>
        <td><%= link_to 'Destroy', f_software_inst, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New F software inst', new_f_software_inst_path %>
