<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'All Softwares', softwares_path %></li>
  <li><%= link_to 'Final Softwares', f_softwares_path %></li>
  <li class="active"><%= link_to 'Intermediate Softwares', i_softwares_path %></li>
  <li><%= link_to 'Databases', dbs_path %></li>
</ul>




<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
       <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @i_softwares.each do |i_software| %>
      <tr>
        <td><%= i_software.i_software_name %></td>
        <td><%= i_software.version %></td>
        <td><%= link_to 'Show', i_software, class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_i_software_path(i_software), class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Destroy', i_software, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_i_software_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> New Intermediate Software
<% end %>

<%= link_to new_i_software_inst_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Instantiate Intermediate Software
<% end %>