<p id="notice"><%= notice %></p>

<p>
  <strong>I software name:</strong>
  <%= @i_software.i_software_name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @i_software.version %>
</p>

<p>

  <strong>Instances:</strong>

  <table class="table">
    <thead>
      <tr>
      <th>Name</th>
      <th>Server</th>
      </tr>
    </thead>

    <tbody>

      <% instancias = ISoftwareInst.where(:i_software_id => @i_software.id ) %>

      <% instancias.each do |isoftware| %>
        <% server = Server.find(isoftware.server_id) %>
        <tr>
          <td><%= isoftware.i_software_inst_name %></td>
          <td><%= link_to server.server_name, server %></td>
          <td><%= link_to 'Show', isoftware, class: 'btn btn-primary btn-xs' %></td>
          <td><%= link_to 'Edit', edit_i_software_inst_path(server.id), class: 'btn btn-primary btn-xs' %></td>
          <td><%= link_to 'Destroy', isoftware, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-xs' %></td>
        </tr>

      <% end %>
    </tbody>
  </table>

</p>

<%= link_to 'Edit', edit_i_software_path(@i_software) %> |
<%= link_to 'Back', instances_path %>
