<%= form_for(@f_software) do |f| %>
  <% if @f_software.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@f_software.errors.count, "error") %> prohibited this f_software from being saved:</h2>

      <ul>
      <% @f_software.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= f.label 'Name' %><br>
    <%= f.text_field :f_software_name %>
  </div>
  <div class="form-group field">
    <%= f.label :cpu, 'Required Processor' %><br>
    <%= f.text_field :cpu %>
  </div>

  <div class="form-group field">
    <%= f.label :memory, 'Required Memory' %><br>
    <%= f.select(:memory, ['2 GB', '4 GB', '8 GB', '16 GB', '32 GB', '64 GB', '128 GB', '256 GB', '512 GB']) %>
  </div>

  <div class="form-group field">
    <%= f.label :storage, 'Required Storage' %><br>
    <%= f.text_field :storage %>
  </div>
  <div class="form-group field">
    <%= f.label :version %><br>
    <%= f.text_field :version %>
  </div>

  <div class="form-group actions">
    <%= f.submit "Create Software", class: 'btn btn-primary' %>
  </div>
  
<% end %>
