<%= form_for(@server) do |f| %>
  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% @server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :server_name %><br>
    <%= f.text_field :server_name %>
  </div>
  <div class="field form-group">
    <%= f.label 'Processor' %><br>
    <%= f.text_field :cpu %>
  </div>

  <div class="form-group field">
    <%= f.label :memory %><br>
    <%= f.select(:memory, ['2 GB', '4 GB', '8 GB', '16 GB', '32 GB', '64 GB', '128 GB', '256 GB', '512 GB']) %>
  </div>

  <div class="form-group field">
    <%= f.label :storage %><br>
    <%= f.text_field :storage %>
  </div>

  <div class="form-group field">
    <%= f.label :ip_address %><br>
    <%= f.text_field :ip_address %>
  </div>

  <div class="form-group field">
    <%= f.label :oper_sys %><br>
    <%= f.text_field :oper_sys %>
  </div>
  
  <div class="form-group actions">
    <%= f.submit "Create Server", class: 'btn btn-primary' %>
  </div>

<% end %>
