<p id="notice"><%= notice %></p>

<p>
  <strong>Server name:</strong>
  <%= @server.server_name %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @server.cpu %>
</p>

<p>
  <strong>Memory:</strong>
  <%= @server.memory %>
</p>

<p>
  <strong>Storage:</strong>
  <%= @server.storage %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @server.ip_address %>
</p>

<p>
  <strong>Oper sys:</strong>
  <%= @server.oper_sys %>
</p>

<p>
  <strong>Software List:</strong>
  
  


<table class="table table-striped">
  <thead>
    <tr>
      <th>Software Name</th>
    </tr>
  </thead>

  <tbody>


    <% @fsoft = FSoftwareInst.where(:server_id => @server.id) %>
    <% @fsoft.each do |fsoftware| %>
      <tr>
        <td><%= fsoftware.f_software_inst_name %></td>
        <td><%= link_to 'Show', fsoftware, class: 'btn btn-default btn-xs' %></td>
      </tr>
    <% end %>


    <% @db = DbInst.where(:server_id => @server.id) %>
    <% @db.each do |dbms| %>
      <tr>
        <td><%= dbms.db_inst_name %></td>
        <td><%= link_to 'Show', dbms, class: 'btn btn-default btn-xs' %></td>
      </tr>
    <% end %>


    <% @isoft = ISoftwareInst.where(:server_id => @server.id) %>
    <% @isoft.each do |software| %>
      <tr>
        <td><%= software.i_software_inst_name %></td>
        <td><%= link_to 'Show', software, class: 'btn btn-default btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
