<!-- app/views/shared/_navigation.html.erb -->
<% if user_signed_in? %>
	<% role = Role.find(current_user.role_id) %>
	<% case role.name %>
		<% when 'Admin' %>
		<nav class="navbar pull-right" role="navigation">
		<div class="container">
				<ul class="nav navbar-top-links navbar-right">
					<a class="navbar-link" href="/dashboard">Dashboard</a>
					<a class="navbar-link" href="/projects">Projects</a>
					<a class="navbar-link" href="/environments">Environments</a>
					<a class="navbar-link" href="/servers">Servers</a>
					<a class="navbar-link" href="/softwares">Softwares</a>
					<a class="navbar-link" href="/users">Users</a>
					<a class="navbar-link" href="/servers">Administration</a>

					<%= link_to image_tag("account.jpg", height: '32', width: '32') + "Edit Profile", edit_user_registration_path(current_user), :class => 'navbar-link'  %>
					<%= link_to image_tag("logout.png", height: '32', width: '32') + "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>		

				</ul>
		</div>
		</nav>
		<% when 'Reader' %>
		<nav class="navbar pull-right" role="navigation">
		<div class="container">
				<ul class="nav navbar-top-links navbar-right">
					<a class="navbar-link" href="/dashboard">Dashboard</a>
					<a class="navbar-link" href="/projects">Projects</a>
					<a class="navbar-link" href="/environments">Environments</a>
					<a class="navbar-link" href="/servers">Servers</a>
					<a class="navbar-link" href="/softwares">Softwares</a>
					<a class="navbar-link" href="/servers">Administration</a>
					<%= link_to image_tag("account.jpg", height: '32', width: '32') + "Edit Profile", edit_user_registration_path(current_user), :class => 'navbar-link'  %>
					<%= link_to image_tag("logout.png", height: '32', width: '32') + "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
				</ul>
		</div>
		</nav>
	<% end %>
<% else %>
<p class="navbar-text pull-right">
	<%= link_to "Register", new_user_registration_path, :class => 'navbar-link'  %> |
	<%= link_to "Forgot your password?", new_password_path(resource_name), :class => 'navbar-link'  %>
</p>
<% end %>


