<%= form_for(@i_software_inst) do |f| %>
  <% if @i_software_inst.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@i_software_inst.errors.count, "error") %> prohibited this i_software_inst from being saved:</h2>

      <ul>
      <% @i_software_inst.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :i_software_inst_name %><br>
    <%= f.text_field :i_software_inst_name %>
  </div>

  <div class="field">
    <% servers_array = Server.all.map { |s| [s.server_name, s.id] } %>
    <%= f.select(:server_id, options_for_select(servers_array)) %>
  </div>

  <div class="field">
    <% softwares_array = ISoftware.all.map { |s| [s.i_software_name, s.id] } %>
    <%= f.select(:i_software_id, options_for_select(softwares_array)) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
