<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'All Software Instances', instances_path %></li>
  <li><%= link_to 'Final Software Instances', f_software_insts_path %></li>
  <li class="active"><%= link_to 'Intermediate Software Instances', i_software_insts_path %></li>
  <li><%= link_to 'Databases Instances', db_insts_path %></li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Server</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>

    <% @i_software_insts.each do |i_software_inst| %>
      <tr>
        <% server = Server.find(i_software_inst.server_id) %>
        <td><%= i_software_inst.i_software_inst_name %></td>
        <td><%= link_to server.server_name, server %></td>
        <td><%= link_to 'Show', i_software_inst, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Edit', edit_i_software_inst_path(i_software_inst), class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Destroy', i_software_inst, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_i_software_inst_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Instantiate Intermediate Software
<% end %>
