<h1>Intermediate Software Instances</h1>

<table>
  <thead>
    <tr>
      <th>I software inst name</th>
      <th>I software inst server name</th>
    </tr>
  </thead>

  <tbody>
    <% @i_software_insts.each do |i_software_inst| %>
      <tr>
        <%= @srv = Server.where(:id => i_software_inst.server_id) %>
        <td><%= i_software_inst.i_software_inst_name %></td>
        <td><%= link_to 'Show', i_software_inst %></td>
        <td><%= link_to 'Edit', edit_i_software_inst_path(i_software_inst) %></td>
        <td><%= link_to 'Destroy', i_software_inst, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New I software inst', new_i_software_inst_path %>
