<h1>Listing i_software_insts</h1>

<table>
  <thead>
    <tr>
      <th>I software inst name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @i_software_insts.each do |i_software_inst| %>
      <tr>
        <td><%= i_software_inst.i_software_inst_name %></td>
        <td><%= link_to 'Show', i_software_inst %></td>
        <td><%= link_to 'Edit', edit_i_software_inst_path(i_software_inst) %></td>
        <td><%= link_to 'Destroy', i_software_inst, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New I software inst', new_i_software_inst_path %>
